<%= form_for @target do |f| %>

<!--体記録系-->

  <div class="form-group">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
  </div>
  
  <div class="form-group">
    <%= f.label :weight %>
    <%= f.number_field :weight, step: "0.1" %>
  </div>

  <div class="form-group">
    <%= f.label :fat %>
    <%= f.number_field :fat, step: "0.1" %>
  </div>
  
  <div class="form-group">
    <%= f.label :bmi %>
    <%= f.number_field :bmi, step: "0.1" %>
  </div>

  
  <%= f.submit '投稿', class: 'btn btn-black btn-block' %>

<% end %>

<%= link_to "一覧へ戻る",records_path %>
<%= link_to "カレンダーに戻る",root_path %>


