<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#calendar" class="nav-link active" data-toggle="tab"><i class="fas fa-calendar-minus"></i></a>
  </li>
  <li class="nav-item">
    <a href="#record" class="nav-link" data-toggle="tab"><i class="fas fa-book"></i></a>
  </li>
  <li class="nav-item">
    <a href="#config" class="nav-link" data-toggle="tab"><i class="fas fa-cog"></i></a>
  </li>
</ul>








<div class="tab-content ">
 <div id="calendar" class="tab-pane active show">
  <%= month_calendar do |date| %>
      <%= link_to records_index_url(date: date) do %>
      <%= date.day %>
      <% end %>
  <% end %>
</div>


<!--記録-->

<div id="record" class="tab-pane">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#weight" class="nav-link active" data-toggle="tab">体重</i></a>
    </li>
    <li class="nav-item">
      <a href="#meal" class="nav-link" data-toggle="tab">食事</i></a>
    </li>
    <li class="nav-item">
      <a href="#traning" class="nav-link" data-toggle="tab">トレーニング</i></a>
    </li>
  </ul>
  
  <div class="tab-content ">


<div id="weight" class="tab-pane active show">
  
<table border="1">
    <tr>
        <th>
            id
        </th>
        <th>
            体重(kg)
        </th>
        
        <th>
            bmi(%)
        </th>
        <th>
            体脂肪率(%)
        </th>
        <th>
          日付
        </th>

        <th>
            消去
        </th>
    </tr>
<% @records = Record.all.order(date: "ASC") %>
<% @records.each do |record|%>
    
<tr>
    <td>
        <%= record.id%>
    </td>
    <td>
    <%= link_to(edit_record_path(record.id)) do%>
       <%= record.weight %>
    <% end %>
   </td>
   
    <td>
    <%= link_to(edit_record_path(record.id)) do%>
      <%= record.bmi %>
     <% end %>
    </td>

    <td>
    <%= link_to(edit_record_path(record.id)) do%>
        <%= record.fat %>
    <% end %>
    </td>



    <td>
    <%= link_to(edit_record_path(record.id)) do%>
         <%= record.date %>
    <% end %>
    </td>
    
    <td>
        <%= link_to "消去",record_path(record.id), method: :delete, data: {confirm: "本当に消去しますか?"} %>
    </td>
</tr>

<% end %>
</table>
  <%= link_to "記録追加",new_record_path %>




  <div id="graph" class="tab-pane active show">
    <% if Target.first.present? %>
    

      <div class="graph clearfix">
        <!--体重-->
        <div class="graph__wrapper">
          <%= line_chart [{name:"体重(kg)",data: Record.where.not(weight: nil).order(date: "ASC").pluck(:date, :weight)},{ name: "目標値(%)",data: Record.where.not(weight: nil).map{|record| [record.date,Target.first.weight]}}],discrete: true, max: @records.maximum(:weight).to_i+1, min: Target.first.weight.to_i-1, width: '400px', height:
          '500px', colors: ['#b00','blue'], label: "体重(kg)", legend: "bottom", legend: true, curve: false,xtitle: "日付", ytitle: "体重(kg)" %>
        </div>
        <!--体脂肪率-->

        <div class="graph__wrapper">
          <%= line_chart [{name: "体脂肪率(%)",data: Record.where.not(fat: nil).order(date: "ASC").pluck(:date, :fat)},{ name: "目標値(%)",data: Record.where.not(fat: nil).map{|record| [record.date,Target.first.fat]}}],discrete: true, max: @records.maximum(:fat).to_i+1, min: Target.first.fat.to_i-1 , width: '400px', height: '500px',
          colors: ['#b00','blue'], label: "体脂肪率(%)", legend: "bottom", legend: true, curve: false,xtitle: "日付", ytitle: "体脂肪率(%)" %>
        </div>
        <!--bmi-->
        <div class="graph__wrapper">
          <%= line_chart [{name: "bmi(%)",data: Record.where.not(bmi: nil).order(date: "ASC").pluck(:date, :bmi)},{ name: "目標値(%)",data: Record.where.not(bmi: nil).map{|record| [record.date,Target.first.bmi]}}],discrete: true, max: @records.maximum(:bmi).to_i+1, min: Target.first.bmi.to_i-1, width: '400px', height: '500px',
          colors: ['#b00','blue'], label: "bmi(%)", legend: "bottom", legend: true, curve: false ,xtitle: "日付", ytitle: "bmi(%)"%>
        </div>
      </div>
    <% end %>
  </div>
  

  
</div>
<div id="meal" class="tab-pane">
        <table border="1">
        <tr>
          <th>
            id
          </th>
          <th>
            食事
          </th>
          <th>
            cal
          </th>
          <th>
            日付
          </th>
          <th>
            消去
          </th>
        </tr>
    <% @foods_name = RecordFood.all.order(id: "ASC") %>

        <% @foods_name.each do |record_food| %>
          <tr>
            <td>
              <%= record_food.id %>
            </td>
          <td>
            <%= link_to(edit_food_path(id: record_food.id)) do %>
              <%= record_food&.food&.name %>
            <% end %>
          </td>
          <td>
            <%= link_to(edit_food_path(id: record_food.id)) do %>
              <%= record_food.food.calorie %>
            <% end %>
          </td>
          <td>
              <%= record_food&.record&.date %>
          </td>
          <td><%= link_to "消去",food_path(record_food.id), method: :delete, data: {confirm: "本当に消去しますか?"} %></td>
        </tr>

      <% end %>


  </table>
  
  <%= link_to "食事追加",new_record_path %>

</div>
<div id="traning" class="tab-pane">
  

    
<% @results = Result.all.order(date:"ASC") %>
<table border="1">
    <tr>
        <th>
            id
        </th>
        <th>
            筋トレメニュー
        </th>
        
        <th>
            メッツ
        </th>
        <th>
            レベル
        </th>
        <th>
            感覚
        </th>
        <th>
            体重
        </th>
        <th>
            筋トレ時間
        </th>
        <th>
            摂取カロリー合計値
        </th>
        <th>
            消費カロリー合計値
        </th>
        <th>
            摂取ー消費
        </th>
        <th>
            日付
        </th>
        <th>
            消去
        </th>
    </tr>
    
<% @results = Result.all.order(date:"ASC") %>
<% @results.each do |result|%>
<tr>
    <td>
        <%= result.id%>
    </td>
    <td>
    <%= link_to(edit_result_path(result.id)) do%>
       <% result_name = result.name %>
       <% if result_name.present? %>
         <%= result_name %>
       <% else %>
         <p>nil</p>
       <% end %>
    <% end %>
   </td>
   
    <td>
    <%= link_to(edit_result_path(result.id)) do%>
      <% result_mets = result.mets %>
        <% if result_mets.nil? %>
          <p>nil</p>
        <% else %>
          <%= result_mets %>
        <% end %>
     <% end %>
    </td>

    <td>
    <% result_level = result.level %>
    <%= link_to(edit_result_path(result.id)) do%>
        <% if result_level.nil? %>
          <p>nil</p>
        <% else %>
          <%= result_level %>
        <% end %>
    <% end %>
    </td>

    <td>
    <%= link_to(edit_result_path(result.id)) do%>
    <% result_sense =  result.sense %>
      <% if result_sense.nil?  %>
        <p>nil</p>
      <% else %>
         <%= result.sense %>
      <% end %>
    <% end %>
    </td>

    <td>
    <% if result.weight.present?%>
    <%= link_to(edit_result_path(result.id)) do%>
       <%= result.weight %>
    <% end %>
    <% else %>
    <%= link_to(edit_result_path(result.id)) do%>
         <p>?</p>
    <% end %>
    <% end %>
    </td>

    <td>
    <%= link_to(edit_result_path(result.id)) do%>
        <%= result.minutes %>
    <% end %>
    </td>
    
    <td>
      <% if result.cal_intake_sum.nil? %>
        <%= link_to(new_record_path) do%>
         <p> 0 </p>
        <% end %>
      <% else %>
      <%= link_to(edit_result_path(result.id)) do%>
            <%= result.cal_intake_sum %>
      <% end %>
    <% end %>
    </td>
    
    <td>
        <%= link_to(edit_result_path(result.id)) do%>
            <%= result.cal_burn_sum %>
        <% end %>
    </td>
    
    <td>
        <%= link_to(edit_result_path(result.id)) do%>
            <%= result.burn_intake_diff %>
        <% end %>
    </td>

    <td>
    <%= link_to(edit_result_path(result.id)) do%>
         <%= result.date %>
    <% end %>
    </td>
    
    <td>
        <%= link_to "消去",result_path(result.id), method: :delete, data: {confirm: "本当に消去しますか?"} %>
    </td>
</tr>

<% end %>
</table>

</table>

<%= link_to "メニュー追加",new_calories_burned_path %>
</div>

</div>
</div>




<!--設定-->

<div id="config" class="tab-pane">
  食事追加リンクをはる<br>
  筋トレメニュ追加リンクをはる<br>
  目標値設定リンクをはる
</div>

</div>


